.input {
  max-width: 80px;
  &-title {
    font-size: small;
    font-weight: bold;
  }
}

.settings-row {
  margin-bottom: 10px;
}

.title {
  font-size: large;
  font-weight: bold;
}

.button-label {
  font-size: small;
  font-weight: bold;
}
